#logo{
    min-width: 200px;
    max-width: 200px;
   display: block;
   margin: 0 auto;
}




#mailInput{
   --color : #000000;
   --placeholder-color : #000000;
   --background :  #ffffff;
   

}

#nameInput{
    --color : #000000;
    --placeholder-color : #000000;
    --background :  #ffffff;
    
 
 }


#passwordInput{
   --color : #000000;
   --placeholder-color : #000000;
   --background :  #ffffff;
   
}
.test{
   margin: 2% 0%;
}

#registerParams{
   display: block;
   margin: 0 auto;
   max-width: 250px;
   min-width: 250px;

}




#registerButton{
   --background :  #3880ff;
   display: block;
   margin: 12% auto;
   max-width: 250px;
   min-width: 250px;
}

#generalBackground{
    --background: #ccd2df;
}

