#logo{
     min-width: 200px;
     max-width: 200px;
    display: block;
    margin: 0 auto;
}

#loginButton{
    --background :  #3880ff;
    display: block;
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;
}


#mailInput{
    --color : #000000;
    --placeholder-color : #000000;
    --background :  #ffffff;
    

}


#passwordInput{
    --color : #000000;
    --placeholder-color : #000000;
    --background :  #ffffff;
    
}
.test{
    margin: 2% 0%;
}

#loginParams{
    display: block;
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;

}


#signUpParams{
    display: block;
    margin: 4% auto;
    max-width: 250px;
    min-width: 250px;

}

#registerButton{
    --background :  #3880ff;
    display: block;
    margin: 10% auto;
    max-width: 250px;
    min-width: 250px;
}

#centered {
    justify-content: center;
}

#icon{
    display: inline-block;
    --background: #005af7;
}

#generalBackground{
    --background: #ccd2df;
}

.socialNButtons{
    
    display: block;
    margin: 0 auto;
    max-width: 250px;
    min-width: 250px;
}

.general{
    margin: 2% 31%;
}

#googleButton{
    --background : #ffffff;
    --color : #000000;
    --placeholder-color : #000000;
   
}

#githubButton{
    --background : #030303;
    --color : #eee8e8;
    --placeholder-color : #f8f8f8;
}

.simpleText{
    margin: 9% 25%;
    display: block;
    text-align: center;
    min-width: 180px;
}

.orText{
    margin: 2% 25%;
display: block;
text-align: center;
min-width: 180px;
}

