<ion-header >
  <ion-toolbar color="primary">
    <ion-title>KScrum</ion-title>
  </ion-toolbar>
</ion-header>


 
<ion-content padding color="secondary">

<ion-img id ="logo" [src]="logoPath" ></ion-img>
<div id="loginParams">
    <ion-input id="mailInput" [(ngModel)]="mailInput"  required="true" class="test" type="text" placeholder="Email"></ion-input>
    <ion-input id="passwordInput" [(ngModel)]="passwordInput"  required="true" class="test" type="Password" placeholder="Password"></ion-input>
</div>

<ion-button   id ="loginButton"    (click)="login()">Login</ion-button>


<div id="signUpParams" >
<ion-label class="margin2">Dont have an account? </ion-label>
<ion-button   id ="registerButton"  class="margin2"  (click)="redirectTo('/register')">Sign Up</ion-button>
</div>

</ion-content>