// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';



//Estilos para menu y header


ion-header{
    
    --ion-background-color:  rgb(25, 26, 25);
    --ion-text-color: white;
}

ion-menu {
    --ion-background-color: rgb(25, 26, 25);
    --ion-text-color: white;
  
    ion-toolbar {
      --background: rgb(25, 26, 25);
      --text-color :  white;
    }

    ion-content {
        --ion-background-color: rgb(25, 26, 25);
        --ion-text-color: white;

        ion-list {
             ion-menu-toggle{
                 
                 ion-item {
                     ion-icon {
                        background: rgb(84, 88, 90);  
                    
                        
                     }
                 }
             }
        }
    }

  }


