
//Estilos para menu y header


ion-header{
    
    --ion-background-color:  rgb(25, 26, 25);
    --ion-text-color: white;
  }
  
  ion-menu {
    --ion-background-color: rgb(25, 26, 25);
    --ion-text-color: white;
  
    ion-toolbar {
      --background: rgb(25, 26, 25);
      --text-color :  white;
    }
  
    ion-content {
        --ion-background-color: rgb(25, 26, 25);
        --ion-text-color: white;
  
        ion-list {
             ion-menu-toggle{
                 
                 ion-item {
                     ion-icon {
                        background: rgb(84, 88, 90);  
                    
                        
                     }
                 }
             }
        }
    }
  
  }



