<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-img src="../assets/images/scrum.png"></ion-img>

      <ion-label></ion-label>
      <ion-button fill="outline" slot="end">Proximos Dailies</ion-button>
    </ion-item>
  </ion-card>

  <ion-card color="dark">
    <ion-item>
      <ion-img src="../assets/images/active_Projects.png"></ion-img>

      <ion-label></ion-label>
      <ion-button fill="outline" slot="end">Proyectos Activos</ion-button>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-img src="../assets/images/Add_member.png"></ion-img>

      <ion-label></ion-label>
      <ion-button fill="outline" slot="end">Añadir miembro</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-img src="../assets/images/delete_member.jpg"></ion-img>

      <ion-label></ion-label>
      <ion-button fill="outline" slot="end">Eliminar miembro</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
