<ion-header>
  <ion-toolbar>
    <ion-title>userProfile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-card-header>
          <ion-card-subtitle>Enrique Suarez</ion-card-subtitle>
         
          <ion-card-title>SCRUM MASTER. cod:506161049 </ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
            <ion-img src="../assets/images/feature.jpg"></ion-img>
            Bogotá, Colombia. Oficina secundaria: , España
          Desarrollador Junior, con experiencia en desarrollo de aplicaciones empresariales: Spring, JEE.

        </ion-card-content>
      </ion-card>
</ion-content>
