<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
    <ion-title>Sprints</ion-title>
    
  </ion-toolbar>
</ion-header>
 
<ion-content padding >

    <ion-list>
        <ion-item *ngFor="let sprint of sprints" class="item-nat">
          <ion-card>
              <ion-item href="/menu/first/tabs/tab2" class="activated"  max-weight=100%>
              <ion-thumbnail>
                <img src="{{sprint.imagen}}" />
              </ion-thumbnail>
              <ion-label>{{sprint.nombre}}</ion-label>
            </ion-item>    
          </ion-card>
        </ion-item>
    </ion-list>
</ion-content>