<ion-header>
  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-back-button defaulthref=""></ion-back-button>
        </ion-buttons>
    <ion-title>Sprints</ion-title>
    
  </ion-toolbar>
</ion-header>
 
<ion-content padding >
  <ion-card >
    <ion-item href="/menu/first/tabs/tab1/details" class="activated">
      <ion-icon name="checkmark"></ion-icon>   
         <ion-label>Sprint 1</ion-label>
    </ion-item>
  </ion-card>

  <ion-card >
    <ion-item href="/menu/first/tabs/tab1/details" class="activated">
      <ion-icon name="checkmark"></ion-icon>   
         <ion-label>Sprint 2</ion-label>
    </ion-item>
  </ion-card>
</ion-content>